<div class="container">
  <div class="text-col">
    <h1>
      I'm James Reed. I live in London, where I develop apps for mobile and web.
    </h1>
    <p>
      🇬🇧 Hey I'm a Front End Developer based in London!
      <br>
      🚀 I have nearly two years experience building frontends with Angular and TypeScript.
      <br>
      🅰️ I enjoy all things Angular and I'm currently familiarising myself with NgRx.
    </p>
    <ul>
      <li>
        <a href="https://github.com/reed756" target="_blank">
          <mat-icon fontSet="fa" fontIcon="fa-github" color="primary"></mat-icon>
          <span>Follow on Github</span>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/james-an-reed/" target="_blank">
          <mat-icon fontSet="fa" fontIcon="fa-linkedin" color="primary"></mat-icon>
          <span>
            Follow on LinkedIn
          </span>
        </a>
      </li>
      <hr>
      <li>
        <a href="mailto:reedandj1@gmail.com" target="_blank">
          <mat-icon fontSet="fa" fontIcon="fa-envelope" color="primary"></mat-icon>
          <span>
            reedandj1@gmail.com
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="image-col">
    <div class="about-image">
      <img src="../../../assets/card/card-profile.png" alt="Profile Image">
    </div>
  </div>
</div>
