<section>
  <div class="text-col">
    <h1>
      I develop applications for mobile and web.
    </h1>
    <p>
      I'm a Front End Developer specialising in Angular, TypeScript, RxJS and Node.js. My current interests include NgRx
      and the Jasmine Framework. I have 2 years of experience in the industry and I have built applications for the
      freelancing and self storage industries.
    </p>
    <ul>
      <li>
        <a href="https://github.com/reed756" target="_blank">
          <button mat-flat-button color="accent">
            <mat-icon fontSet="fa" fontIcon="fa-github"></mat-icon>
            Follow on Github
          </button>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/james-an-reed/" target="_blank">
          <button mat-flat-button color="accent">
            <mat-icon fontSet="fa" fontIcon="fa-linkedin"></mat-icon>
            Follow on LinkedIn
          </button>
        </a>
      </li>
      <hr>
      <li>
        <a href="mailto:reedandj1@gmail.com" target="_blank">
          <button mat-flat-button color="accent">
            <mat-icon fontSet="fa" fontIcon="fa-envelope"></mat-icon>
            reedandj1&#64;gmail.com
          </button>
        </a>
      </li>
    </ul>
  </div>
  <div class="image-col">
    <div class="about-image">
      <img src="../../../assets/card/card-profile.png" alt="Profile Image">
    </div>
  </div>
</section>
