div {
  img {
    height: 64px;
    width: 64px;
    &.avatar-img {
      border-radius: 9999px;
    }
  }
  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}
.icon-row {
  display: flex;
  gap: 1.5rem;
  mat-icon {
    margin: 0;
  }
}
.tech-stack-row {
  width: 100%;
  height: 352px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  overflow: hidden;
  margin-top: 2rem;
  .tech-stack-image {
    border-radius: 0.75rem;
    width: 11rem;
    overflow: hidden;
    position: relative;
    flex: none;
    @media (min-width: 640px) {
      border-radius: 1rem;
      width: 18rem;
    }
    img {
      height: 100%;
      width: 100%;
      max-width: 100%;
      object-fit: cover;
      overflow: hidden;
      position: absolute;
    }
  }
}
