<section>
  <div>
    <img class="avatar-img" src="../../../assets/card/card-avatar.jpg" alt="avatar_image">
    <h1>Front End Developer.</h1>
    <p>I’m James, a front end developer based in the UK.</p>
  </div>
  <div class="icon-row">
    <a href="https://github.com/reed756" target="_blank">
      <button mat-raised-button color="accent">
        <mat-icon fontSet="fa" fontIcon="fa-github" color="primary"></mat-icon>
      </button>
    </a>
    <a href="https://www.linkedin.com/in/james-an-reed/" target="_blank">
      <button mat-raised-button color="accent">
        <mat-icon fontSet="fa" fontIcon="fa-linkedin" color="primary"></mat-icon>
      </button>
    </a>
  </div>
  <div class="tech-stack-row">
    <div class="tech-stack-image" *ngFor="let tech of techStack">
      <img [src]="tech.src" [alt]="tech.alt">
    </div>
  </div>
</section>
