<section>
  <div>
    <h1>Hi I'm James, a Front End Developer</h1>
  </div>
  <div>
    <h2>My Socials</h2>
  </div>
  <div class="icon-row">
    <a href="https://github.com/reed756" target="_blank">
      <button mat-raised-button color="accent">
        <mat-icon fontSet="fa" fontIcon="fa-github"></mat-icon>
      </button>
    </a>
    <a href="https://www.linkedin.com/in/james-an-reed/" target="_blank">
      <button mat-raised-button color="accent">
        <mat-icon fontSet="fa" fontIcon="fa-linkedin"></mat-icon>
      </button>
    </a>
  </div>
  <div>
    <h2>My Tech Stack</h2>
  </div>
  <div class="tech-stack-row">
    <div class="tech-stack-image" *ngFor="let tech of techStack">
      <img [src]="tech.src" [alt]="tech.alt">
    </div>
  </div>
</section>